<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>WELCOME</h1>
        <div class="sub-con">
            <form action="/register" method="get">
            <div class="button">
                <button>Register</button>
            </div>
            </form>
            <form action="/login-page" method="get">
            <div class="button2">
                <button >Login</button>
            </div>
             </form>
        </div>
    </div>
</body>
</html>